.reg{
	margin-top:40px;
	margin-left:320px;
	background-color: #ffdbdb;
	width:40%;
	height:90%;
	padding-left:250px;
	
	
}
body{
	background-color:  #660029;
}
.log{
	margin-top:200px;
	margin-left:320px;
	background-color: #ffdbdb;
	width:40%;
	height:290%;
	padding-left:250px;
	padding-top:10px;
	
	
}
